
 <!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid " style="background-color:aqua;padding:15px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="\">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registration/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registration/register">Register</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departments
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" style="background-color:aqua;" href="https://en.wikipedia.org/wiki/Computer_Science">Computer Science</a></li>
            <li><a class="dropdown-item" style="background-color:aqua;" href="https://en.wikipedia.org/wiki/Commerce">Commerce</a></li>
            <li><a class="dropdown-item" style="background-color:aqua;" href="https://en.wikipedia.org/wiki/English">English</a></li>
            <li><a class="dropdown-item" style="background-color:aqua;" href="https://en.wikipedia.org/wiki/Artificial_intelligence">Artificial Intelligence</a></li>
            <li><a class="dropdown-item" style="background-color:aqua;" href="https://en.wikipedia.org/wiki/Mdicine">Medicine</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
