{% load static %}
<style>
      form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  form p {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<form method="POST" enctype="multipart/form-data" action="" >
    {% csrf_token %}
    <h2>You Can Order Here</h2><br>
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary"  value="Place Order">
    <a href="/" name="cancel" class="btn btn-danger">Cancel</a>
</form>

